html, body, .wrapper{
	height: 100%; 
	
}

body{
	background-color: #EBC8B2;
	padding: 0;
	margin: 0;
	font-family: Lack-Regular;
}

header{
		background-color: #F5F5DC;
}

ol{
	padding: 0;
	margin-left: 20px;
}
li{
	padding: 7px 0 7px 0;
	border-bottom: solid black 1px;
}
footer{
	height: 140px;
	margin-top: 61px;
	background-color: #2C2C2C;
	overflow: hidden;
	font-size: 12px;
	color: white;
}