@font-face{
	font-family: Lack-Regular;
	src:url("../fonts/lack-master/Fonts/Lack-Regular.otf") format("truetype");
	font-style:normal;
	font-weight:normal;
}

html, body, .wrapper{
	height: 100%; 
}
header{
	background-color: #F5F5DC;
}
body{
	background-color: #EBC8B2;	
	font-family: Lack-Regular;
	padding: 0;
	margin: 0;
}
main{
	margin: 25px;
}
hr{
	margin: 30px 0;
	border: solid black 1px;
}
footer{
	height: 140px;
	margin-top: -20px;
	background-color: #2C2C2C;
	overflow: hidden;
	font-size: 12px;
	color: white;
}